*.pro.user*
build/
Doxyfile.bak
*.tmp
*.qt_for_python
.vscode/
version.txt
installer/Output/*
3rdparty/i3drsgm-1.0.9/token.txt
3rdparty/i3drsgm-1.0.9/i3drsgm
3rdparty/i3drsgm-1.0.9/i3drsgm-1.0.9.exe
3rdparty/opencv-4.5.0/opencv
3rdparty/opencv-4.5.0/opencv-4.5.0-vc14_vc15.exe
3rdparty/boost-1.66.0/boost_1_66_0
3rdparty/boost-1.66.0/boost_1_66_0.tar.gz
3rdparty/opencv-contrib-cuda/opencv
3rdparty/opencv-contrib-cuda/opencv-contrib-cuda-vc15.exe
3rdparty/opencv-contrib-cuda/cuda
3rdparty/opencv-contrib-cuda/cudnn
3rdparty/i3drsgm/i3drsgm
3rdparty/opencv-contrib-cuda/opencv-4.5.0-contrib-cuda11.1-cudnn8.0.4-vc15.exe
3rdparty/i3drsgm/i3drsgm-*.exe