[submodule "fervor"]
	path = modules/fervor
	url = https://github.com/i3drobotics/fervor.git
[submodule "StereoStreamer"]
	path = modules/StereoStreamer
	url = https://github.com/i3drobotics/StereoStreamer.git
