name: QT Build

on: [push]

jobs:
    build:
        runs-on: windows-latest
        steps:
          - uses: actions/checkout@v2
          - name: Checkout submodules
            run: git submodule update --init --recursive
          - name: Install Qt
            uses: jurplel/install-qt-action@v2
            with:
              version: '5.14.2'
              host: 'windows'
              target: 'desktop'
              arch: 'win64_msvc2017_64'
              dir: '${{ github.workspace }}/qt-install/'
              install-deps: 'true'
              modules: 'qtwebengine'
              tools-only: 'false'
          - name: Install jom and inno setup
            shell: cmd
            run: | 
              choco install jom
              choco install innosetup
          - name: Install 3rdparty
            shell: cmd
            run: |
              call "%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
              .\scripts\3rdparty.bat
          - name: Build
            shell: cmd
            run: |
              call "%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
              mkdir build
              cd build
              qmake.exe "CONFIG+=qtquickcompiler CONFIG+=DEV_BRANCH CONFIG+=WITH_VIMBA CONFIG+=WITH_I3DRSGM" ../stereo_vision_toolkit.pro -spec win32-msvc
              jom.exe
